<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>&nbsp;</p>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item{% if page.title == "Nieuws" %} active{% endif %}" href="{{ site.baseurl }}/nieuws.html">Nieuws</a>

    <span class="sidebar-nav-item">Thema's:</span>
    {% assign themas_list = site.themas %}
    {% for node in themas_list %}
      {% if node.title != null %}
        {% if node.layout == "thema" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">&bull; {{ node.title }}</a>
          {% for subnode in themas_list %}
            {% if subnode.layout == "subthema" and subnode.thema == node.thema and subnode.thema == page.thema %}
               <a class="sidebar-nav-item{% if page.url == subnode.url %} active{% endif %}" href="{{ site.baseurl }}{{ subnode.url }}">&bull; &bull; {{ subnode.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <span class="sidebar-nav-item">----</span>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repository_url }}">GitHub project</a>
    <span class="sidebar-nav-item">Versie v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <svg id="slo_woordmerk" data-name="slo woordmerk" xmlns="http://www.w3.org/2000/svg" width="77.7" height="49.9" viewBox="0 0 77.7 49.9">
      <defs>
        <style>
          .cls-1 {
            fill: #ca1978;
          }
        </style>
      </defs>
      <title>woordmerkheader</title>
      <path class="cls-1" d="M71.3,33.3c0,7.8-3.9,11.4-8.6,11.4s-8.5-4-8.5-11.5,4.2-11,8.6-11,8.5,4,8.5,11.1m7.4-.4c0-11.8-6.4-16.8-15.3-16.8S46.7,23.8,46.7,33.9c0,11.8,6.1,17,15.3,17s16.7-7.7,16.7-18M39,1.1a90,90,0,0,0-13,.5V6a48.5,48.5,0,0,1,5.8.7V50.2H39Zm-15.9,39C23.1,29,8.3,32.3,8.3,25.8c0-2.6,2-4.2,5.9-4.2a23.9,23.9,0,0,1,6.6,1l.2-5.9a44.8,44.8,0,0,0-6.3-.6C5.6,16.1.9,20.7.9,26.5.9,38,15.6,34,15.6,40.7c0,2.8-2.7,4.5-6.6,4.5a27.3,27.3,0,0,1-7.3-1.1l-.2,6.1a38.8,38.8,0,0,0,7.1.7c8.9,0,14.5-4.6,14.5-10.8" transform="translate(-0.9 -1)"/>
    </svg>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; SLO {{ site.time | date: '%Y' }}. Licentie: CC-BY
    </p>
  </div>
</div>
